<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wine Quality Predictor</title>
</head>
<body>
    <h1>Welcome to the wine quality predictor!</h1>
    <p>Enter values below to make a prediction. Values included below are for a sample high quality wine.</p>
    <p>Check out the readme in the project file for more details and analysis.</p>
    <h3></h3>
    <form action="/" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        Fixed Acidity:
        <input name="fixed acidity" type="float" value="7.3" required>
        <br>
        <br> Volatile Acidity:
        <input name="volatile acidity" type="float" value=".65" required>
        <br>
        <br> Citric Acid:
        <input name="citric acid" type="float" value="0" required>
        <br>
        <br>
        Residual Sugar:
        <input name="residual sugar" type="float" value="1.2" required>
        <br>
        <br> Chlorides:
        <input name="chlorides" type="float" value=".065" required>
        <br>
        <br> Free Sulfur Dioxide:
        <input name="free sulfur dioxide" type="int" value="15" required>
        <br>
        <br>
        Total Sulfur Dioxide:
        <input name="total sulfur dioxide" type="int" value="21" required>
        <br>
        <br> pH:
        <input name="pH" type="float" value="3.39" required>
        <br>
        <br> Sulphates:
        <input name="sulphates" type="float" value=".47" required>
        <br>
        <br>
        Alcohol:
        <input name="alcohol" type="float"  value="10" required>
        <br>
        <br>
        <input type="submit" value="Predict">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
        <br> Prediction: {{ result }}
        <br>

    {% endif %}
</div>
<p>*A high quality wine is one that scores a 7 or higher on the 9 point scale</p>
</body>
</html>