<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="{ http://127.0.0.1:5000 }" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        Fixed Acidity:
        <input name="fixed acidity" type="float" value="7.3" required>
        <br>
        <br> Volatile Acidity:
        <input name="volatile acidity" type="float" value="1.71" required>
        <br>
        <br> Citric Acid:
        <input name="citric acid" type="float" value="2.43" required>
        <br>
        <br>
        Residual Sugar:
        <input name="residual sugar" type="float" value="15.6" required>
        <br>
        <br> Chlorides:
        <input name="chlorides" type="float" value="127.0" required>
        <br>
        <br> Free Sulfur Dioxide:
        <input name="free sulfur dioxide" type="int" value="2.80" required>
        <br>
        <br>
        Total Sulfur Dioxide:
        <input name="total sulfur dioxide" type="int" value="3.06" required>
        <br>
        <br> pH:
        <input name="pH" type="float" value="0.28" required>
        <br>
        <br> Sulphates:
        <input name="sulphates" type="float" value="2.29" required>
        <br>
        <br>
        Alcohol:
        <input name="Alcohol" type="float"  value="5.64" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
        <br> Predicted Quality of Wine:
           <p style="font-size:50px">{ result }</p>
    {% endif %}
</div>
</body>
</html>